        
        /*------------------------------------------*/
        /* PANTALLAS MENORES A 768px (SMARTHPHONES) */
        /*------------------------------------------*/

        /* Estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: black;
    color: white;
}

.separador{
    padding: 0;
    margin: 0;
    color: aqua;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    display: block;
}

.subtitulo{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

        /* Barra de navegación */

.barra-navegacion{
    visibility: hidden;
    height: 0px;
}

        /* Encabezado de la página con información breve sobre mí */

.sobre-mi{
    padding: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mi-texto{
    height: fit-content;
}

.sobre-mi-texto h2{
    text-align: center;
    color: rgb(220, 220, 220);
}

.sobre-mi-texto h1{
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
    color: aqua;
}

.sobre-mi-texto p{
    text-align: justify;
    color: rgb(220, 220, 220);
    font-size: 1em;
}

.sobre-mi-imagen{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mi-imagen img{
    width: 80%;
    border-radius: 50%;
    border: 4px solid aqua;
}

        /* Curriculum Vitae en forma desplegable */


.curriculum{
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion{
    text-align: left;
    margin-top: 10%;
}

.accordion-button h3{
 font-size: 1.2em;
}

.accordion-body{
    padding-left: 0px;
    color: rgb(220, 220, 220);
}

        /* Slider de proyectos */
        
.proyectos{
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel{
    margin-top: 10%;
}

.card{
    margin: 0 auto;
}

        /* Formulario de contacto y otros contactos */

.contactos{
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-contacto{
    margin-top: 10%;
}

.btn-enviar{
    width: 100%;
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 10px;
    font-size: large;
}

.btn-enviar:hover{
    background-color: rgb(220, 220, 220);
}

.otro-contacto{
    margin-top: 20px;
}

.otro-contacto h4{
    text-align: center;
}

.otro-contacto div a{
    text-decoration: none;
}
.otro-contacto div a span{
    color: rgb(65, 65, 250);
}

.contacto{
    font-size: 1em;
}



        /*--------------------------------------------------------*/
        /* PANTALLAS ENTRE A 768px Y 1499px (TABLETS Y NOTEBOOKS) */
        /*--------------------------------------------------------*/

@media screen and (min-width:768px) {
    
}
                
        /*---------------------------------------------------*/
        /* PANTALLAS MAYORES A 1500px (MONITORES Y SMART TV) */
        /*---------------------------------------------------*/

@media screen and (min-width:1500px) {

}