*{
    margin: 0px;    
    padding: 0px;
    box-sizing: border-box;
}
p{
    font-size: 20px;
}

header{
    width: 100%;
    height: auto;
    margin-top: 2%;
}

body{
    background-image: url(recursos/gb2.png); 
    background-position-x: center;
    background-size:cover; 
    background-repeat: repeat-y;
}

.navbar{
    background-color: #c5e2fc65; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.navbar:hover{
    background-color: #365f83dc; 
}

.nav-btn{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    width: 50%;
}

.nav-btn:hover{
    color: white;
    background-color: #365f83dc;
    border-radius: 10px;
}

.mi-nombre{
    margin-top: 50px;
    text-align: center;
}

.mi-info{
    text-align: justify;
    font-size: 20px;
}

.contenedorImg{
align-items: center; 
text-align: center;
padding: 5px;
}

.logo{
    text-align: center;
    margin: 0 auto;
    width:100%;
    font-size:20px;
 }

.proyectos{
    padding: 0px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.card{
    margin-bottom: 20px;
}


.contenedorBot{
    display: flex;
    align-items:center;
    justify-content:center;
}

.btn{
    margin: 20px;
}

.contacto-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bloque-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail{
    border-right: 1px solid black;
}

.whatsapp{
    border-right: 1px solid black;
}

.contacto-logo{
    width: 50px;
    height: auto;
    margin: 10px;
}

.contact{
    overflow: auto;
    overflow-wrap: break-word;
    font-size: 20px;
    font-weight: 600;
}

@media screen  and (max-width: 767px ) {
    .mi-nombre{
        margin-top: 100px;
    }
}

@media screen  and (max-width: 1200px ) {
    .bloque-contacto{
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .mail{
        border: none;
    }
    .whatsapp{
        border: none;
    }
}


