*{
    margin: 0px;    
    padding: 0px;
    box-sizing: border-box;
}
p{
    font-size: 20px;
}

header{
    width: 100%;
    height: auto;
}

body{
    background-image: url(/recursos/gb2.png); 
    background-position-x: center;
    background-size:contain; 
    background-repeat: repeat-y;
}

.navbar{
    background-color: #c5e2fc65; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.navbar:hover{
    background-color: #365f83dc; 
}

.link a:hover{
    color: white;
}

.mi-nombre{
    margin-top: 50px;
    text-align: center;
}

.mi-info{
    text-align: justify;
    font-size: 20px;
}

.contenedorImg{
align-items: center; 
text-align: center;
padding: 5px;
}

.logo{
    text-align: center;
    margin: 0 auto;
    width:100%;
    font-size:20px;
 }

.proyectos{
    padding: 0px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.card{
    margin-bottom: 10px;
}

.contenedorBot{
    display: flex;
    align-items:center;
    justify-content:center;
}

.btn{
    margin: 20px;
}